<html>
 <head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 </head>
 <body>
  <h1> <%= @username %> Create new Post </h1>
       Post Name is : <%= @post_title %>
  </body>
</html>
