<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hello Admin
    <p>  New User successfully Create New Post to example.com,
         Username is:  <%= @user.username%>
    </p>
  </body>
</html>
